* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div#root > header {
    text-align: center;
    background-color: gray;
    height: 60px;  
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#root > main {
    flex-grow: 1;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

div#root > main.centered {
    display: grid;
    place-content: center;
}

div#root > main.centered > section {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

div#root > main > section > h2 {
    margin-bottom: 1rem;
    text-align: center;
}

div#root > main > section > form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    padding: 0.2rem;
}

ul.listServices {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

ul.listServices li {
    border: 1px solid black ;
    border-radius: 5px;
    padding: 1rem;
}

div#root > footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 0.7rem;
}

a {
    text-decoration: none;
    color: black;
}
