* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div#root > header {
  text-align: center;
  background-color: gray;
  /*height: 60px;*/
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav > p {
  margin-top: 1rem;
  margin-right: 1rem;
}

nav > ul > li {
  padding-right: 1rem;
}

div#root > main {
  flex-grow: 1;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

div#root > main.centered {
  display: grid;
  place-content: center;
}

div#root > main.centered > section {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

div#root > main > section > h2 {
  margin-bottom: 1rem;
  text-align: center;
}

div#root > main > section > form {
  display: flex;
  flex-direction: column;
}

.userMode > form > label {
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.2rem;
}

ul.listServices {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

ul.listServices li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

div#root > footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 0.7rem;
}

a {
  text-decoration: none;
  color: black;
}

.input-form > fieldset {
  display: flex;
  flex-direction: column;
}

.input-form {
  align-items: center;
  margin: 2rem;
}

.servPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered > section > form > div {
  display: flex;
  justify-content: space-around;
  padding-top: 0rem;
  padding-top: 0.2rem;
  line-height: 0.5rem;
  align-items: center;
}

.centered > section > form > div > input {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  margin: 0.2rem;
}

.centered > section > form > fieldset > div {
  display: flex;
  justify-content: space-between;
  padding-left: 3.5rem;
  line-height: 0.5rem;
  margin: 0.5rem 0rem 0.2rem 0.2rem;
}

.centered > section > form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}

.centered > section > form > fieldset > div > label {
  margin-top: 0.4rem;
}

.centered > section > form > fieldset > div > input {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  margin-right: 4.2rem;
  margin-bottom: 0.6rem;
}

.centered > section > form > div > textarea {
  display: flex;
  align-items: center;
  margin: 0.4rem;
}

.centered > section > form > button {
  margin: 0.6rem;
}

#date {
  margin-right: 2.8rem;
}
